<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Loghub</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="btn btn-default btn-link" data-toggle="popover" id="alarms-notification">
                        <span class="glyphicon glyphicon-bell"></span>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#profile">
                        <img src="https://avatars3.githubusercontent.com/u/2426680?v=2&s=40" height="20">
                        <span>mskasal</span>
                    </a>
                </li>
                <li>
                    <a href="#addapp" class="addapp">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
                <li>
                    <a href="#settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li>
                    <a href="#logout">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-right" role="tablist" id="dashboard-nav">
        <li><a href="#alarms" role="tab" data-toggle="tab">Alarms</a></li>
        <li><a href="#applications" role="tab" data-toggle="tab">Applications</a></li>
        <li class="active"><a href="#logs" role="tab" data-toggle="tab">Logs</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="logs">...</div>
        <div class="tab-pane" id="applications">...</div>
        <div class="tab-pane" id="alarms">...</div>
    </div>
</div>